*{
    margin: 0;
    padding: 0;
}

.container {
height: 100vh;
width: 100%;
background: url('https://raw.githubusercontent.com/amv-coding/Tribute-to-Grandpas-Cube/main/background%20for%20grandpa%20cube.png');
background-size: 100% 100%;
}

.viewport {
    width: 42vw;
    height: 21vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1300px;
}

.viewport::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 20%;
    z-index: -1;
    top: 140%;
    left: -10%;
    filter: blur(50px);
}

.cube {
    width: 100%;
    height: 33.3333333%;
    transform-style: preserve-3d;
    position: relative;
}

.cube-1 {
    transition: transform .3s;
}

.cube-2 {
    z-index: 10;
    transition: transform .4s .2s;
}

.cube-3 {
    transition: transform .3s .2s;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
}

.front {
    transform: translateZ(21vw);
}

.cube-1 .front {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/130705889_10219024768155790_5472052214991276733_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_ohc=vo609eoexUkAX-IAPVg&_nc_ht=scontent-iad3-1.xx&oh=1685e8893ca9e6723f4284bf2ae50733&oe=600E02FE) no-repeat 50% 0;
    background-size: cover;
}

.cube-2 .front {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/130705889_10219024768155790_5472052214991276733_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_ohc=vo609eoexUkAX-IAPVg&_nc_ht=scontent-iad3-1.xx&oh=1685e8893ca9e6723f4284bf2ae50733&oe=600E02FE) no-repeat 50% -7vw;
    background-size: cover;
}

.cube-3 .front {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/130705889_10219024768155790_5472052214991276733_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_ohc=vo609eoexUkAX-IAPVg&_nc_ht=scontent-iad3-1.xx&oh=1685e8893ca9e6723f4284bf2ae50733&oe=600E02FE) no-repeat 50% -14vw;
    background-size: cover;
}

.back {
    transform: translateZ(-21vw) rotateY(180deg);
}

.cube-1 .back {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/31981_124896674214501_7733146_n.jpg?_nc_cat=101&ccb=2&_nc_sid=cdbe9c&_nc_ohc=Wb2zBqDbCWMAX9-dqrw&_nc_ht=scontent-iad3-1.xx&oh=23da6c607bfa7ae307c959a249e765a7&oe=600F96E0) no-repeat 50% 0;
    background-size: cover;
}

.cube-2 .back {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/31981_124896674214501_7733146_n.jpg?_nc_cat=101&ccb=2&_nc_sid=cdbe9c&_nc_ohc=Wb2zBqDbCWMAX9-dqrw&_nc_ht=scontent-iad3-1.xx&oh=23da6c607bfa7ae307c959a249e765a7&oe=600F96E0) no-repeat 50% -7vw;
    background-size: cover;
}

.cube-3 .back {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/31981_124896674214501_7733146_n.jpg?_nc_cat=101&ccb=2&_nc_sid=cdbe9c&_nc_ohc=Wb2zBqDbCWMAX9-dqrw&_nc_ht=scontent-iad3-1.xx&oh=23da6c607bfa7ae307c959a249e765a7&oe=600F96E0) no-repeat 50% -14vw;
    background-size: cover;
}

.left {
    transform: translateX(-21vw) rotateY(-90deg);
}


.cube-1 .left {
    background: url(https://raw.githubusercontent.com/amv-coding/Tribute-to-Grandpas-Cube/main/alberto%20take%204.jpg) no-repeat 50% 0;
    background-size: cover;
}

.cube-2 .left {
    background: url(https://raw.githubusercontent.com/amv-coding/Tribute-to-Grandpas-Cube/main/alberto%20take%204.jpg) no-repeat 50% -7vw;
    background-size: cover;
}

.cube-3 .left {
    background: url(https://raw.githubusercontent.com/amv-coding/Tribute-to-Grandpas-Cube/main/alberto%20take%204.jpg) no-repeat 50% -14vw;
    background-size: cover;
}

.right {
    transform: translateX(21vw) rotateY(90deg);
}


.cube-1 .right {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/31981_124896427547859_397156_n.jpg?_nc_cat=108&ccb=2&_nc_sid=cdbe9c&_nc_ohc=04eg9lCkCE0AX-e5rCA&_nc_ht=scontent-iad3-1.xx&oh=c5cd122a6899edb667f33dbba2235904&oe=600E1A8D) no-repeat 50% 0;
    background-size: cover;
}

.cube-2 .right {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/31981_124896427547859_397156_n.jpg?_nc_cat=108&ccb=2&_nc_sid=cdbe9c&_nc_ohc=04eg9lCkCE0AX-e5rCA&_nc_ht=scontent-iad3-1.xx&oh=c5cd122a6899edb667f33dbba2235904&oe=600E1A8D) no-repeat 50% -7vw;
    background-size: cover;
}

.cube-3 .right {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/31981_124896427547859_397156_n.jpg?_nc_cat=108&ccb=2&_nc_sid=cdbe9c&_nc_ohc=04eg9lCkCE0AX-e5rCA&_nc_ht=scontent-iad3-1.xx&oh=c5cd122a6899edb667f33dbba2235904&oe=600E1A8D) no-repeat 50% -14vw;
    background-size: cover;
}

.top {
    height: 42vw;
    background-color: #111;
    transform: translateY(-21vw) rotateX(90deg);
}

.bottom {
    height: 42vw;
    background-color: #111;
    transform: translateY(-14vw) rotateX(-90deg);
}

.control {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: rgba(59, 52, 50, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100;
    transition: background-color .4s;
}

.control:hover {
    background-color: rgba(42, 38, 36, .8);
}

.control i {
    pointer-events: none;
}

.left-arrow {
    top: 50%;
    left: -35%;
}

.right-arrow {
    top: 50%;
    left: 135%;
}

.play-pause {
    top: 140%;
    left: 120%;
}
